@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Roboto+Mono&display=swap');

:root {
  --headline-color: white;
  --background-color: #11151c;
  --text-color: rgba(255, 255, 255, 0.5);
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  text-align: center;
}

.canvas-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.overlay {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 20px;
}

#text-behind, #text-front, #text-behind-blur {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  text-align: center;
  font-size: clamp(24px, 20vw, 200px);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 0.8;
}

#text-behind {
  color: var(--headline-color);
  z-index: 1;
}

#text-behind-blur {
  color: var(--headline-color);
  filter: blur(7.5px);
  -webkit-filter: blur(7.5px);
  z-index: 0;
}

#text-front {
  color: transparent;
  text-stroke: 2px var(--headline-color);
  -webkit-text-stroke: 2px var(--headline-color);
  z-index: 3;
}

header, footer {
  letter-spacing: 5px;
  font-family: 'Roboto Mono', monospace;

}

footer h2 {
  font-size: 3rem;
  color: red;
  font-weight: 400;
}


footer ul {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;

}

#br{
  padding: 150px;
}

footer a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

footer img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

